/* Geral */

* {
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  font-family: 'Hammersmith One', sans-serif;
}

body {
  position: relative;
}

.overlay *, .overlay{
  display: none;
}

/* Header */

header a {
  color: inherit;
}

header {
  height: 80px;
  width: 100vw;

  background-color: #ff914d;
  box-sizing: border-box;

  position: sticky;
  top: 0;
  padding: 0 32px;
  display: flex;
  align-items: center;

  font-size: 18px;
  letter-spacing: -0.56px;
}

nav {
  margin-left: 16px;
  flex-grow: 1;
  color: white;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow-x: auto;
}

.nav-link {
  white-space: nowrap;
  flex: 0;
  padding: 0 12px;
  margin: 0 5px;
  border-radius: 20px;
  padding: 5px 10px;
}

.nav-link:hover, login:hover, .inicio:hover {
  background-color: white;
  color: #ff914d;
}

header > img {
  flex-grow: 0;
  width: 200px;
  height: 150px;
}

.login,
.inicio {
  padding: 0 12px;
  font-weight: 500;
  color: white;
}

.login {
  margin-right: 50px;
}

header > .button {
  height: 45px;
  width: 45px;
  display: none;
}


/* Main */

.main-container {
  min-height: 100vh;
}

/* Textos */

.text1, .text2 {
  font-weight: 500;
  letter-spacing: -0.03em;
  font-size: 2rem;
  line-height: 1.16;
  margin: 3.3%;
}

.text1{
    color:white;
    margin-bottom: 5px;      
}

.text2{
    color:#FF914D;  
}

.main-container a:hover::after {
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    border: 1px solid black;
}

.setas{
    height: 15px;
    width: 15px;
}

.main-container a{
    position: relative;
    font-size: 1.5rem;
}

/* Buttons  */

.btn1, .btn2 {
  font-family: 'Roboto', sans-serif;
}

.btn1{
    color:#FF914D ;
}

.btn2{
    color:white ;
}

.img img{
    height: 60vh; 
}

/* Pai flex */

.pai-flex{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: url(../img/seta.png);
  background-size: cover;
  height: 80vh;
  background-position: center;
}

.pai-flex2, .pai-flex3 {
  display: flex;
  align-items: center;
  height: 90vh;
  justify-content: space-around;
}

.pai-flex2{
    background-color: #FF914D;
}

.pai-flex3{
    background-color: rgb(245, 244, 244);
}

.pai-flex4{
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Footer */

footer {
    background-color: #FF914D;
    padding: 0 32px;
    min-height: 100px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fourbank {
    display: flex;
    align-items: center;
}
.fourbank img {
    width: 100px;
}

footer p {
    margin-bottom: 8px;
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

footer p:last-child {
    margin-bottom: 0;
}

.redes img {
    width: 32px;
    margin-right: 16px;
    cursor: pointer;
    border-bottom: 2px solid #FF914D;
}

.redes img:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}


/* Media queries */


@media only screen and (min-width: 414px) and (max-width:736px) {

  header {
    height: 60px;
  }

  
  nav {
    display: none;
  }

  .login {
    display: none;
  }

  header > img {
      width: 150px;
      height: 100px;
      margin-left: -50px;
  }

  header > .button {
    font-size: 1.2em;
    border-radius: 50%;
    background-color: #ffb485;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
  }

  header > .button:active {
    background-color: #ffaf7d73;    
    border: 2px solid #ffb485;
  }

  footer {
    flex-direction: column;
  }

  /* Textos */

  .text1, .text2 {
    order: 1;
    font-size: 1.70em;
  }

  /* Containers */

  .pai-flex2, .pai-flex3 {
    flex-direction: column;
  }

  /* Overlay */

  .overlay {
    position: fixed;
    flex-direction: column;
    top: 0;
    height: 0;
    width: 100%;
    z-index: 1;
    background-color: rgb(248, 248, 248);
    padding: 10px 20px;
  }

  .close {
    display: inherit;
    align-self: flex-end;
    font-size: 40px;
  }

  .overlay-nav {
    margin-top: 50px;
    display: inherit;
    flex-direction: column;
    width: 100%;
  }

  .overlay img {
    display: inherit;
    background-color: rgba(255, 99, 71, 0.884);
    border-radius: 50%;
    width: 60px;
    position: absolute;
    top: 8px;
    left: 15px;
  }
  
  .overlay-nav a {
    display: inherit;
    color: inherit;
    height: 25px;
    font-size: 1.2em;
    margin: 10px 0;
  }

  .overlay-nav a:active {
    color: #FF914D;
  }
}