
header a {
    text-decoration: none;
    color: inherit;
}

header {
  height: 80px;
  width: 100vw;

  background-color: #ff914d;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  padding: 0 32px;
  display: flex;
  align-items: center;

  font-size: 18px;
  letter-spacing: -0.56px;
}

nav {
  margin-left: 16px;
  flex-grow: 1;
  color: white;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow-x: auto;
}

.nav-link {
  white-space: nowrap;
  flex: 0;
  padding: 0 12px;
  margin: 0 5px;
  border-radius: 20px;
  padding: 5px 10px;
}

.nav-link:hover {
  background-color: white;
  color: #ff914d;
}

header > img {
  flex-grow: 0;
  width: 200px;
  height: 150px;
}

.login,
.inicio {
  padding: 0 12px;
  font-weight: 500;
  color: white;
}

.login {
  margin-right: 50px;
}

header > .button {
  height: 45px;
  width: 45px;
  display: none;
}

@media only screen and (max-width: 700px) {
  header {
    height: 64px;
  }

  nav {
    display: none;
  }

  .login {
    display: none;
  }

  header > .button {
    font-size: 1.2em;
    border-radius: 50%;
    background-color: #ffb485;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}




.container{
    height: 90vh;
}

.text1{
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 500;
    letter-spacing: -0.03em;
    font-size: 2rem;
    line-height: 1.16;
    margin: 3.3%;
    color:white;
    margin-bottom: 5px;      
}

.text2{
    font-family: 'Hammersmith One', sans-serif;
    font-weight: 500;
    letter-spacing: -0.03em;
    font-size: 2rem;
    line-height: 1.16;
    margin: 3.3%;
    color:#FF914D;
    
}

a:hover::after {
    content: "";
    position: absolute;
    left: 25%;
    right: 25%;
    bottom: 0;
    border: 1px solid black;
      
}

.setas{
    height: 15px;
    width: 15px;
}

a{
    position: relative;
    font-size: 1.5rem;
}

.btn1{
    text-decoration: none;
    color:#FF914D ;
    font-family: 'Roboto', sans-serif;
    border-radius: 5%; 
}

.btn2{
    text-decoration: none;
    color:white ;
    font-family: 'Roboto', sans-serif;   
}

.img img{
    height: 60vh;
    
}

.pai-flex{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-image: url(seta.png);
    background-size: cover;
    height: 80vh;
    background-position: center;
}

.pai-flex2{
    background-color: #FF914D;
    display: flex;
    align-items: center;
    background-size: cover;
    height: inherit;
    justify-content: space-around;
   
}

.pai-flex3{
    background-color: rgb(245, 244, 244);
    display: flex;
    align-items: center;
    background-size: cover;
    height: inherit;
    justify-content: space-around;
   
}

.pai-flex4{
   text-align: center;
    height: inherit;
}



*{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

footer {
    background-color: #FF914D;
    padding: 0 32px;
    height: 144px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fourbank {
    display: flex;
    align-items: center;
}
.fourbank img {
    width: 144px;
}

footer p {
    margin-bottom: 8px;
    font-size: 1em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}

p:last-child {
    margin-bottom: 0;
}

.redes img {
    width: 32px;
    margin-right: 16px;
    cursor: pointer;
    border-bottom: 2px solid #FF914D;
}

.redes img:hover {
    border-bottom: 2px solid rgb(255, 255, 255);
}
