a {
    text-decoration: none;
    color: inherit;
}

header {
  height: 80px;
  width: 100vw;

  background-color: #ff914d;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  padding: 0 32px;
  display: flex;
  align-items: center;

  font-size: 18px;
  letter-spacing: -0.56px;
}

nav {
  margin-left: 16px;
  flex-grow: 1;
  color: white;

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  overflow-x: auto;
}

.nav-link {
  white-space: nowrap;
  flex: 0;
  padding: 0 12px;
  margin: 0 5px;
  border-radius: 20px;
  padding: 5px 10px;
}

.nav-link:hover {
  background-color: white;
  color: #ff914d;
}

header > img {
  flex-grow: 0;
  width: 200px;
  height: 150px;
}

.login,
.inicio {
  padding: 0 12px;
  font-weight: 500;
  color: white;
}

.login {
  margin-right: 50px;
}

header > .button {
  height: 45px;
  width: 45px;
  display: none;
}

@media only screen and (max-width: 700px) {
  header {
    height: 64px;
  }

  nav {
    display: none;
  }

  .login {
    display: none;
  }

  header > .button {
    font-size: 1.2em;
    border-radius: 50%;
    background-color: #ffb485;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}
